<div class="container col-lg-12" ng-controller="WishesController">
<nav class="navbar navbar">
    <ul class="nav navbar-nav nav-pills pull-left">
        <li>
            <a href="#/home"><img style="float: left;" src="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/go-home-32.png" alt="interactive connection"  /></a>
        </li>
        <li role="presentation">
           <a href="#/wish"><img style="float: left;" src="https://cdn2.iconfinder.com/data/icons/snipicons/500/plus-sign-32.png" alt="interactive connection"  /></a>
        </li>

         <li role="presentation">
            <a href="#/user"><img style="float: left;" src="https://cdn2.iconfinder.com/data/icons/snipicons/500/user-32.png" alt="interactive connection"  /></a>
        </li>

        <li role="presentation">
            <a href="#/users"><img style="float: left;" src="https://cdn4.iconfinder.com/data/icons/business-management-thin-version-1/33/group-32.png" alt="interactive connection" /></a>
        </li>
    </ul> 
    <ul class="nav navbar-nav nav-pills pull-right">

        <li role="presentation" ng-controller="WishesController">
         <a href="" ng-click="shareWishlist()" ><img style="float: left;" src="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/mail-reply-all-32.png" alt="interactive connection" /></a>

        </li>

        <li role="presentation" ng-controller="LogoutController">
           <a href="" ng-click="logout()"><img style="float: left;" src="https://cdn1.iconfinder.com/data/icons/glaze/32x32/actions/exit.png" alt="interactive connection" /></a>
        </li>



        </ul>
</nav>
</div>