<div class="container v-center col-lg-12" ng-controller="LandingController">
<div class="v-center">
    <img class="text-center" style="text-align: center; display: block; margin-left: auto; margin-right: auto;" src="https://lh3.googleusercontent.com/FbUwVVX49m0OjWaYK5gGsdG1RzG01NZ9LNTeUQpC_x9aWJqHO_QJdFagQcbJ3yu1_DkfloyVIhT-4eK6ICQhu--9g65KyedzCANFeHfWrmIO-Qf22Q-Xh58xZzeIrR6RdqpLFXrz" alt="interactive connection" width="154" height="144" />
<br>
<ul class="list-inline text-center">
            <li>
                 <a  href="/#/signup"><img style="float: left;" src="http://www.freeiconspng.com/uploads/register-button-png-26.png" alt="interactive connection" width="120" height="45" /></a>
            </li>
            <li>
               <a  href="/#/login"><img style="float: left;" src="http://www.freeiconspng.com/uploads/login-button-png-15.png" alt="interactive connection" width="120" height="45" /></a>
            </li>
     </ul>
          </div>

</div>


